{% extends 'instagram/base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'instagram/css/post.css' %}">
{% endblock %}

{% block content %}
{% load cloudinary %}

<div class="logo">
  </div>
<main>
   <div class="cont">
       <p class="ttl">new post</p>
       <div class="separator"></div>
       <form method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           {{form}}
           <input type="submit" value="post">
       </form>
   </div>


</main>


{% block scripts %}

{% endblock %}

{% endblock %}
