.detail{
    width: 90%;
    height: 80%;
    background-color: white;
    position: absolute;
    display: flex; 
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition:all .2s ease-in-out;
    border-radius: 20px;
}

.img3{
    width: 45%;
    height: 100%;
    margin: auto 0;
}
.img3 img{
    width: 100%;
    height: 100%;
    margin:auto 0;
} 
.comments-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.author{
    display: flex;
    margin: 2% 3%;
    gap:10px;
    padding: 0 5%;
    align-items: center;
}

.author a{
    color:#000;
    text-decoration: black;
    font-weight: 600;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}
.author svg,.comment svg{
    color: #dbdbdb;
    font-size: 2vw;
}
.separator{
    background-color: #dbdbdb ;
    width: 132%;
    height: 1px;
}

.comments{
overflow-y: scroll;
margin-left: 10%;
height: 100%;
}
.comments::-webkit-scrollbar {
    display: none;
  }
.comment{
    padding: 2% 5%;
    margin: 2% 3%;
}

.content{
    color: #a8a8a8;
    font-size: .9vw;
}

.post-comment{
    padding: 5%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap:10px;
}
.save-comment{
    border: none;
    color: #0095f6;
    font-weight: 600;
    background-color: transparent;
}
textarea{
    border: 1px solid #0095f6;
    padding: 2% 5%;
    border-radius: 5px;
    width: 100%;
}
.cap{
    display: block !important;
    font-size: 1vw;
    margin-top: 2%;
    color: #000;
    font-weight: 400;
}

.profile-img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    aspect-ratio: contain;
}



@media screen and (max-width:500px) {
    .detail{
        flex-direction: column;
        padding: 0;
    }
    main{
        padding: 0 !important;
        margin: 0 !important;
    }
    .img3{
        width: 100% !important;
        height: 70%;
        padding: 0;
        margin: 0% auto;
    }
    .img3 img{
        width: 100% !important;
        height: 100%;
        margin:auto 0;
    } 
    .comments-section{
        width: 100%;
    }
    .comments{
        height: 200px;
        overflow-y: scroll;
    }
    textarea{
        width: 100%;
       
    }
    .post-comment{
        margin-top: -3%;
    }
    .separator{
        width: 100%;
    }

    .author{
        margin: 0 3%;
        align-items: center;
        padding: 2% 5%;
    }
    
    .author a,.user{
        font-size: 3vw;
    }
    .author svg,.comment svg{
        font-size: 3vw;
    }
    .content{
        color: #a8a8a8;
        font-size: 1.7vw;       
    }
    .cap{
        font-size: 1.7vw;

    }
    
    .profile-img{
        height: 42px;
        width: 42px;
        border-radius: 50%;
        aspect-ratio: contain;
    }
    
    









}



@media screen and (min-width:501px) and (max-width:800px) { 
    .detail{
        padding: 0;
    }
    .img3{
        width: 70% !important;
        margin:0 auto;
        height: 70%;
        padding: 0;
        margin: 0% auto;
    }
    .img3 img{
        width: 100% !important;
        height: 100%;
        margin:auto 0;
    } 
    .comments-section{
        width: 100%;
        padding:0 2%;
    }
    .comments{
        height: 200px;
        overflow-y: scroll;
    }
    textarea{
        width: 100%;
       
    }
    .post-comment{
        margin-top: -3%;
    }
    .separator{
        width: 100%;
    }

    .author{
        margin: 0 3%;
        align-items: center;
        padding: 2% 5%;
    }
    
    .author a,.user{
        font-size: 2vw;
    }
    .author svg,.comment svg{
        font-size: 2vw;
    }
    .content{
        color: #a8a8a8;
        font-size: 1.5vw;
    }
    .cap{
        font-size: 1.5vw;

    }
    
    .profile-img{
        height: 42px;
        width: 42px;
        border-radius: 50%;
        aspect-ratio: contain;
    }
} 