body{
    background-color: #fafafa;
}

.profile-img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    aspect-ratio: contain;
}
.top svg{
    color: #a8a8a8;
    font-size: 2vw;
}

.posts{
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.top{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 2% 5%;
    text-decoration: none;
    color:black
}

.separator{
    height: 1px;
    background-color: #dbdbdb;
    width: 100%;
}
.img{
    width: 100%;
    padding: 0;
    
}
.img img{
    height: 400px;
    width: 100%;
    aspect-ratio: contain;
}
.post{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    width: 30%;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
.likes{
    margin: 0 5%;
}
.left{
    display: flex;
    gap:10px;
    align-items: center;
}

.bottom button{
    background-color: transparent;
    border: none;
}

.bottom  svg{
    font-size: 2vw;

}



.comments{
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.caption span,.comment span{
    font-weight: 600;
    color: black;
    font-size: 1.2vw !important;
}
.caption,.comment{
    color: black;
    opacity: .8;
    font-size: 1vw;
    margin: 2% 5%;
}

.view-all a{
    padding: 1% 5%;
    color:#a8a8a8;
    font-weight: 600;
    font-size: 1vw;
    text-decoration: none; 
}

.filled{
    color: #0095f6;
}


 @media screen and (max-width:500px) {
    .post{
        width: 80%;
        margin: 0 auto;
    }
    
} 


 @media screen and (min-width:501px) and (max-width:900px) {
     .posts{
         width: 90%;
         margin: 5% auto;
     }
    .post{
       width: 45%;
       
    } 
} 