@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


.insta{
    height: 52px;
    aspect-ratio: contain;
    align-self: center;
    margin-bottom: 7%;
}

.errorlist{
    color:red;
}

body{
    background-color: #fafafa;
}

.cont{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 30%;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    flex-direction: column;

}
.sub{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 30%;
    margin: 1% auto;
    padding: 2% 4% ;
}

form{
    display: flex;
    flex-direction: column;
    gap:20px;
}
label{
    display: none;
}

input[type='text'],input[type='password']{
    background-color: #fafafa;
    outline: #fafafa;
    padding: 3% 2%;
    border: 1px solid #a8a8a8;
    border-radius: 2px;
    

}

input[type='text']:focus,input[type='password']:focus{
    background-color: #fafafa;
    outline: #fafafa;


}

input[type='submit']{
    background-color: #0095f7;
    color: white;
    text-align: center;
    border: none;
    padding: 3%;
    border-radius: 4px;
    font-weight: 600;
}

input:disabled{

background-color:#b1dffc ;
}
.or{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5% 0;
    color:  #a8a8a8;
    font-weight: 600;
    font-size: 1.1vw;
}

.or div{
    background-color: #a8a8a8;
    width: 44%;
    height: 1px;
}

.fb {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: 1.2vw;
    font-weight: 600;
    color:#385185 
;
}
.fb svg{
    font-size: 1.5vw;
}
.forgotp{
    text-align: center;
    margin-top: 4%;
    font-weight: 400;
    color: #385185;
    font-size: 1.1vw;
}

.sub p{
    text-align: center;
    font-size: 1.1vw;
}
.sub p a {
    text-decoration: none;
    color:#0095f7
}



@media screen and (min-width:300px) and (max-width:500px) {

    .cont{
        width: 60%;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
    }

    .sub{
        width: 60%;
        margin: 1% auto;
        padding: 2% 4% ;
    }
    
    .or{
        font-size: 2vw;
    }
    .fb{
        font-size: 2.1vw;
    }
    .fb svg{
        font-size: 2.5vw;
    }
  
    .forgotp{
        font-size: 2vw;
    }
    .sub p{
        font-size: 2vw;
    }
    
}

@media screen and (min-width:501px) and (max-width:720px) {

    .cont{
        width: 50%;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
    }


    .sub{
        width: 50%;
        margin: 1% auto;
        padding: 2% 4% ;
    }
   
    .or{
        font-size: 2.1vw;
    }
    .fb{
        font-size: 2.1vw;
    }
    .fb svg{
        font-size: 2.4vw;
    }
  
    .forgotp{
        font-size: 2vw;
    }
    .sub p{
        font-size: 2vw;
    }
}