body{
    background-color: #fafafa;
}
.cont{
    width: 60%;
    margin:5% auto;
}

.cont form{
    display: flex;
    flex-direction: column;
}

.ttl{
    background-color:#efefef;
    padding:2% 4%;

}
.separator{
    background-color:#a8a8a8;
    height: 1px;
    width: 100%;
}

.cont form label{
    display: none;
}

input[type='submit']{
    background-color:#0095f6 !important;
    align-self: center;

}
input[type='submit'],input[type='file']{
    width: 30%;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    padding: 2% 2%;
}

input[type='file']{
    align-self: left;
    width: 30%;
}

textarea{
    border: none;
    background-color: transparent;
}