body{
    background-color: #fafafa;
}

main{
    width: 70%;
    margin:2% auto;
    display: flex;
}

.left svg{
    font-size: 10vw;
    color: #dbdbdb;
}

.right{
    margin: 0 auto;
    width: 60%;

}

.top{
    display: flex;
    align-items: center;
    gap: 20px;
}

.top p:nth-child(1){
    font-size: 2vw;
}

 .edit-p{
    background-color: #fff;
    padding: 1% 2%;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #000;
    font-family: 600;
    text-decoration: none;
}
.top p a {
    font-size: 1.8vw;
    color: black;
}

.followbtn{
    background-color: #0095f6;
    padding: 1.5% 4%;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

.followers{
    display: flex;
    align-items: center;
    margin-top: 5%;
    gap: 20px;
}

.followers p span {
    font-weight: 400 !important;
}
.followers p {
    font-weight: 600;
    font-size: 1.3vw;
}

.bio{
    margin-top: 5%;
    width: 50%;
    line-height: 23px;
    font-size: 1.3vw;
}

.hr{
    height: 1px;
    background-color: #dbdbdb;
    width: 70%;
    margin:0 auto;
}

.l-followers {
    margin: 5% 0;
    color: #a8a8a8;
    font-size: .8vw;
}

.l-followers a {
    font-weight: 600;
    text-decoration: none;
    color:#a8a8a8
}


.logout{
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    top:0;
    left:0;
    height: 100vh;
    width:100%;
    display: none;
    align-items: center;
    justify-content: center;
    animation: showlogout 1s ease 0s 1 normal forwards;
}

.followers-cont{
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    top:0;
    left:0;
    height: 100vh;
    width:100%;
    display: none;
    align-items: center;
    justify-content: center;
    
    animation: showlogout 1s ease 0s 1 normal forwards;
}

.followers-list{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left:50%;
    width: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translate(-50%,-50%);
    padding: 1% 0;
    border-radius: 4px
}
.s-followers{
    cursor: pointer;
}
.followers-list ul{
    padding: 0% 3%;
}

.followers-list ul li{
    list-style: none;
    padding: 5% 0;  
    display: flex;
    font-size: 1vw;
    gap: 20px; 
}
.followers ul li svg{
    color:#a8a8a8;
    font-size: 2vw;
}
.ex{
    margin-left: auto;
}
.followers-list ul li a{
    color:black;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 400;
}

.followers-cont p:nth-child(1) a{
    margin: 1% 10%;
    font-size: 1.4vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    gap:20px;

}
.hor{
    background-color: #a8a8a8;
    width: 100%;
    height: 1px;
}



.following-cont{
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    top:0;
    left:0;
    height: 100vh;
    width:100%;
    display: none;
    align-items: center;
    justify-content: center;
    animation: showlogout 1s ease 0s 1 normal forwards;
}
.s-followers span:nth-child(1){
    font-weight: 600 !important;
    font-size: 1.2vw;
}

.following-list{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left:50%;
    width: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translate(-50%,-50%);
    padding: 1% 0;
    border-radius: 4px
}
.s-following{
    cursor: pointer;
}
.following-list ul{
    padding: 0% 3%;
}

.following-list ul li{
    list-style: none;
    padding: 5% 0;  
    display: flex;
    font-size: 1vw;
    cursor: pointer;
    gap: 20px; 
}
.following ul li svg{
    color:#a8a8a8;
    font-size: 2vw;
}
.exx{
    margin-left: auto;
}
.following-list ul li a{
    color:black;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-weight: 400;
}

.following-cont p:nth-child(1) a{
    margin: 1% 10%;
    font-size: 1.4vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    gap:20px;

}
.horr{
    background-color: #a8a8a8;
    width: 100%;
    height: 1px;
}

.cancel{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 0 7%;
    border-radius: 4px;
}

.cancel a {
    text-decoration: none;
    color:black;
    font-size: 1vw;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cancel a:nth-child(1)::after{
    position: absolute;
    content:"";
    background-color: #000;
    bottom:50%;
    left:0;
    right: 0;
    height: 1px;
    width: 100%;
}
.posts-ttl{
    position: relative;
}

.posts-ttl a{
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
    
.posts-ttl a::before{
    position: absolute;
    content:"";
    background-color: #000;
    top:0;
    left:50%;
    transform: translateX(-50%);
    right: 0;
    height: 1px;
    width: 4%;

}


.posts{
    width:70%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    margin:2% auto;
    gap: 20px;
}

.post{
    position: relative;
    
}
.comments-div{
  position: absolute;
  top:0;
  left: 0;
  color: #fff;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  display: flex;
  height: 100%;
  width: 90%;
  opacity: 0;
  transition:all .2s ease-in-out;
}
.comments-div svg{
    background-color: transparent !important;
}

.comments-div a{
    text-decoration: none;
    color: #fff;
    background-color: transparent !important;
}
.comments{
    overflow-y:scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.post img{
    height:412px;
    aspect-ratio: contain;
    width: 90%;  
  
}

.post:hover :nth-child(2){ 
    background-color: rgba(0, 0, 0, .4);
    opacity:1;
}

.post p a span{
    background-color: transparent;
}


/* post details */
.post-details{
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    top:0;
    left:0;
    height: 100%;
    width:100%;
    display: none;
    align-items: center;
    animation: showlogout 1s ease 0s 1 normal forwards;
}

.detail{
    width: 90%;
    height: 80%;
    background-color: white;
    position: absolute;
    display: flex; 
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition:all .2s ease-in-out;
}


.img2 img{
    width: 270px;
    height: 100%;
    margin:auto 0;
} 

.img3{
    width: 60%;
    height: 100%;
    margin: auto 0;
}
.img3 img{
    width: 100%;
    height: 100%;
    margin:auto 0;
} 
.comments-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.close-btn{
    position: absolute;
    right:3%;
    top:3%;
    color: #fff;
    font-size: 2.5vw;
}

.author{
    display: flex;
    margin: 2% 3%;
    gap:10px;
    padding: 2% 5%;
    align-items: center;
}

.author a{
    color:#000;
    text-decoration: black;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}
.author svg,.comment svg{
    color: #dbdbdb ;
    font-size: 2vw;
}
.separator{
    background-color: #dbdbdb ;
    width: 132%;
    height: 1px;
}

.comment{
    padding: 2% 5%;
    margin: 2% 3%;
}

.user
{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.1vw;
    color: #111;
    font-weight: 600;
    gap: 10px;
}

.content{
    color: #a8a8a8;
    font-size: .9vw;
    margin: 1% 13%;
   
}

.post-comment{
    padding: 5% 0;
    display: flex;
    justify-content: center;
    gap:10px;
}
.save-comment{
    border: none;
    color: #0095f6;
    font-weight: 600;
    background-color: transparent;

}
textarea{
    border: 1px solid #0095f6;
    padding: 2% 5%;
    border-radius: 5px;
}
.cap{
    display: block !important;
    font-size: 1vw;
    margin-top: 2%;
    color: #000;
    font-weight: 400;
}


.profile-img{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    aspect-ratio: contain;
    margin-left: 50%;
}
@keyframes showlogout {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}