body{
    background-color: #fafafa;
}

main{
    width: 70%;
    margin:5% auto;
    display: flex;
}

.left svg{
    font-size: 10vw;
    color: #dbdbdb;
}

.right{
    margin: 0 auto;
    width: 60%;

}

.top{
    display: flex;
    align-items: center;
    gap: 20px;
}

.top p:nth-child(1){
    font-size: 2vw;
}

 .edit-p{
    background-color: #fff;
    padding: 1% 2%;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #000;
    font-family: 600;
    font-size: 1vw;
    text-decoration: none;
}
.top p a {
    font-size: 1.8vw;
    color: black;
}

.followbtn{
    background-color: #0095f6;
    padding: 1.5% 4%;
    color: #fff;
    font-weight: 600;
    border: none;
    font-size: 1vw;
    border-radius: 4px;
}

.followers{
    display: flex;
    align-items: center;
    margin-top: 5%;
    gap: 20px;
}

.followers p span {
    font-weight: 400 !important;
    font-size: 1.3vw !important;
}
.followers p {
    font-weight: 600;
    font-size: 1.3vw;
}

.bio{
    margin-top: 5%;
    width: 50%;
    line-height: 23px;
    font-size: 1.3vw;
}

.hr{
    height: 1px;
    background-color: #dbdbdb;
    width: 70%;
    margin:0 auto;
}

.l-followers {
    margin: 5% 0;
    color: #a8a8a8;
    font-size: .8vw;
    width: 90%;
}

.l-followers a {
    font-weight: 600;
    text-decoration: none;
    color:#a8a8a8
}


.logout{
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    top:0;
    left:0;
    height: 100vh;
    width:100%;
    display: none;
    align-items: center;
    justify-content: center;
    animation: showlogout 1s ease 0s 1 normal forwards;
}

.followers-cont{
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    top:0;
    left:0;
    height: 100vh;
    width:100%;
    display: none;
    align-items: center;
    justify-content: center;
    
    animation: showlogout 1s ease 0s 1 normal forwards;
}

.followers-list{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left:50%;
    width: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translate(-50%,-50%);
    padding: 1% 0;
    border-radius: 4px
}
.s-followers{
    cursor: pointer;
}
.followers-list ul{
    padding: 0% 3%;
}

.followers-list ul li{
    list-style: none;
    padding: 5% 0;  
    display: flex;
    font-size: 1vw;
    gap: 20px; 
}
.followers ul li svg{
    color:#a8a8a8;
    font-size: 2vw;
}
.ex{
    margin-left: auto;
}
.followers-list ul li a{
    color:black;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 400;
}

.followers-cont p:nth-child(1) a{
    margin: 1% 10%;
    font-size: 1.4vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    gap:20px;

}
.hor{
    background-color: #a8a8a8;
    width: 100%;
    height: 1px;
}



.following-cont{
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    top:0;
    left:0;
    height: 100vh;
    width:100%;
    display: none;
    align-items: center;
    justify-content: center;
    animation: showlogout 1s ease 0s 1 normal forwards;
}
.s-followers span:nth-child(1){
    font-weight: 600 !important;
    font-size: 1.2vw;
}

.following-list{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left:50%;
    width: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translate(-50%,-50%);
    padding: 1% 0;
    border-radius: 4px
}
.s-following{
    cursor: pointer;
}
.following-list ul{
    padding: 0% 3%;
}

.following-list ul li{
    list-style: none;
    padding: 5% 0;  
    display: flex;
    font-size: 1vw;
    cursor: pointer;
    gap: 20px; 
}
.following ul li svg{
    color:#a8a8a8;
    font-size: 2vw;
}
.exx{
    margin-left: auto;
}
.following-list ul li a{
    color:black;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-weight: 400;
}

.following-cont p:nth-child(1) a{
    margin: 1% 10%;
    font-size: 1.4vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    gap:20px;

}
.horr{
    background-color: #a8a8a8;
    width: 100%;
    height: 1px;
}

.cancel{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 0 7%;
    border-radius: 4px;
}

.cancel a {
    text-decoration: none;
    color:black;
    font-size: 1vw;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cancel a:nth-child(1)::after{
    position: absolute;
    content:"";
    background-color: #000;
    bottom:50%;
    left:0;
    right: 0;
    height: 1px;
    width: 100%;
}
.posts-ttl{
    position: relative;
}

.posts-ttl a{
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
    
.posts-ttl a::before{
    position: absolute;
    content:"";
    background-color: #000;
    top:0;
    left:50%;
    transform: translateX(-50%);
    right: 0;
    height: 1px;
    width: 4%;

}

/* posts */
.posts{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    margin:2% auto;
    gap: 20px;
}

.post{
    position: relative;
    width: 30%;
    
}
.comments-div{
  position: absolute;
  top:0;
  left: 0;
  color: #fff;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition:all .2s ease-in-out;
}
.comments-div svg{
    background-color: transparent !important;
}

.comments-div a{
    text-decoration: none;
    color: #fff;
    background-color: transparent !important;
}
.comments{
    overflow-y:scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.post img{
    height:412px;
    aspect-ratio: contain;
    width: 100%;  
  
}

.post:hover :nth-child(2){ 
    background-color: rgba(0, 0, 0, .4);
    opacity:1;
}

.post p a span{
    background-color: transparent;
}
.profile-img{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-left: 50%;
}
@keyframes showlogout {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.cog{
    display: flex;
    align-items: center;
}


@media screen and (max-width:500px) {

    .posts{
        width:70%;
        margin:2% auto;
    
    }
    .post{
        position: relative;
        width: 100%;
        
    }

    .left{
        display: none;
    }
    .right{
        width: 90%;
        margin: 0 auto;
    }

    .top p:nth-child(1), .cog svg{
        font-size: 4.5vw;
    }
    .top p a {
        font-size: 2.5vw;
    
    }
    .edit-p,.followbtn{
        font-size: 3vw;
    }
   
    .followers p {
        font-size: 2.5vw;
    }
    .followers p span{
        font-size: 2.5vw !important;
    }
    .bio{
        font-size: 2vw;
        width: 80%;
    }
    .l-followers {
        font-size: 1.8vw;
    }

    .followers-list ul li{
        font-size: 1.3vw;
    }
    .followers ul li svg{
        font-size: 2vw;
    }
    .followers-cont p:nth-child(1) a{   
        font-size: 1.7vw;
    
    }

    .s-followers span:nth-child(1){
        font-size: 1.7vw;
    }

    .following-list ul li{
        font-size: 1.4vw;
    }
    .following ul li svg{
        font-size: 2.3vw;
    }
    .following-cont p:nth-child(1) a{
        font-size: 1.5vw;
    
    }


    .cancel a {
        font-size: 3vw;
    }
}


@media screen and (min-width:501px) and (max-width:800px){

    .posts{
        width:95%;
        margin:2% auto;
    
    }
    .post{
        position: relative;
        width: 45%;
        
    }
    .top p:nth-child(1), .cog svg{
        font-size: 3vw;
    }
    .top p a {
        font-size: 2vw;
    
    }
    .edit-p,.followbtn{
        font-size: 2vw;
    }
   
    .followers p {
        font-size: 1.8vw;
    }
    .followers p span{
        font-size: 1.8vw !important;
    }
    .bio{
        font-size: 1.5vw;
    }
    .l-followers {
        font-size: 1.1vw;
    }

    .followers-list ul li{
        font-size: 1.3vw;
    }
    .followers ul li svg{
        font-size: 2vw;
    }
    .followers-cont p:nth-child(1) a{   
        font-size: 1.7vw;
    
    }

    .s-followers span:nth-child(1){
        font-size: 1.7vw;
    }

    .following-list ul li{
        font-size: 1.4vw;
    }
    .following ul li svg{
        font-size: 2.3vw;
    }
    .following-cont p:nth-child(1) a{
        font-size: 1.5vw;
    
    }


    .cancel a {
        font-size: 1.4vw;
    }

}

@media screen and (min-width:801px) and (max-width:1000px){

    .posts{
        width:90%;
        margin:2% auto;
    
    }
    .post{
        position: relative;
        width: 30%;    
    }
}